pkgbase = roon-proton
	pkgdesc = Roon desktop controller and native audio endpoint for Arch Linux
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/massiveadam/roon-wine
	arch = x86_64
	license = MIT
	depends = alsa-lib
	depends = bash
	depends = curl
	depends = umu-launcher
	depends = xorg-xwayland
	optdepends = wine: system Wine fallback runner
	optdepends = winetricks: runtime setup for the system Wine fallback
	optdepends = pipewire-pulse: recommended audio backend for PipeWire desktops
	optdepends = pulseaudio: PulseAudio backend
	optdepends = vulkan-icd-loader: accelerated rendering
	provides = roon-wine
	conflicts = roon-wine
	replaces = roon-wine
	source = roon-wine
	source = roon-wine.desktop
	source = LICENSE
	sha256sums = 790a59d4455fd824b55f563fe99e14db28583c7c6e0aa54d5af5a70b883a9ab3
	sha256sums = 300b9418ac741675a91fda59670456738f4d6d5693a4cc7899138b94425acd26
	sha256sums = bcecb636801e3d141e250e5d457229661aaf57138f03899c172ce2446dcd22ad

pkgname = roon-proton
