pkgbase = roon-wine
	pkgdesc = Run the Roon desktop controller and audio output on Arch Linux using Wine
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/massiveadam/roon-wine
	arch = x86_64
	license = MIT
	depends = bash
	depends = curl
	depends = wine
	depends = winetricks
	optdepends = pipewire-pulse: recommended audio backend for PipeWire desktops
	optdepends = pulseaudio: PulseAudio backend
	optdepends = xorg-xwayland: XWayland display fallback
	optdepends = vulkan-icd-loader: accelerated rendering
	source = roon-wine
	source = roon-wine.desktop
	source = LICENSE
	sha256sums = f985dc7f89cb5b56f2f5af7d3631e631e9e6484f9ec00664490fce48637a02a5
	sha256sums = d7c6ba558d3b49dbd5cf59ae60a5367e8c8d38439460dd9e49ca9a5f0da99529
	sha256sums = bcecb636801e3d141e250e5d457229661aaf57138f03899c172ce2446dcd22ad

pkgname = roon-wine
